{% extends "../core/base/base.html" %}
{% load static %}
{% load humanize %}
{% block contents %}








<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h4 class="breadcrumb-header">Refund Policy</h4>
                <ul class="breadcrumb-tree">
                    <li><a href="{% url 'home' %} ">Home</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div style="padding:20px;" class="row">
            <h4 class="mb-2 mt-2">Refund Policy</h4>
            <p>ZETA-SASSI S.R.L.
 offers its customers the opportunity to experience our range of products risk-free. If you are not satisfied with your purchase, if the item received differs from what was specified, or if it is damaged during shipping, you have the right to return the product and request an exchange or a refund if the product is out of stock, within the first fourteen (14) days following:</p>
            <ul>
                <li>The date of purchase in a physical store, provided you have proof of purchase;</li>
                <li>The date of receipt of the product for online orders made on our website at <a href="https://zetasassisrl.com">https://zetasassisrl.com</a>.</li>
            </ul>
            <p>The 14-day Trial Period applies to any product purchased from our store.</p>
         

            <h4 class="mb-2 mt-2">How to Take Advantage of the 14-Day Trial Period?</h4>
            <p>To take advantage of the 14-Day Trial Period, please follow these steps:</p>
            <ol>
                <li>Purchase one or more products from our website or an ZETA-SASSI S.R.L.
 retail store.</li>
                <li>If you are not satisfied with your purchase, contact us within the 14-day Trial Period, and we will arrange for the return of the product.</li>
                <li>For in-store purchases, please review our terms and conditions.</li>
                <li>Once the product has been received and evaluated by our team, and provided it meets the requirements of the 14-day Trial Period (outlined below), a full refund will be processed within fourteen (14) days of receipt.</li>
            </ol>
         

            <h4 class="mb-2 mt-2">Requirements for a Return and Full Refund during the 14-Day Trial Period:</h4>
            <p>The following conditions must be met for a return and full refund:</p>
            <ul>
                <li>The product and its original packaging, including the box, box cover, and dust bag, must be returned in their original state. ZETA-SASSI S.R.L.
 reserves the right to refuse or reduce the reimbursement if these conditions are not met.</li>
                <li>The customer is responsible for any shipping fees, customs duties, and miscellaneous taxes for returning a product shipped outside their country of domicile. All return fees to ZETA-SASSI S.R.L.
 must be covered by the customer if the order was placed from a country where they are not domiciled or if the product was purchased in one country and transported to another. Such returns should be initiated by contacting ZETA-SASSI S.R.L.
, who will provide instructions for a proper return. All returns must be made through an accredited shipper that provides a tracking number. The customer is responsible for ensuring the product arrives safely at the ZETA-SASSI S.R.L.
 return center.</li>
                <li>The 14-day Trial Period applies to a single product per purchase. It cannot be extended or unfairly repeated, regardless of the quantity or range of products purchased.</li>
            </ul>
         

            <h4 class="mb-5 mt-2">Contact Information for Returns:</h4>
            <p>If you purchased your product from our online store or one of our ZETA-SASSI S.R.L.
 stores, for claims, please contact us via our main website at <a href="https://zetasassisrl.com">https://zetasassisrl.com</a>.</p>
            <p>
                  ZETA-SASSI S.R.L.
 – Customer Service<br>
 VIA BARSANTI EUGENIO 2/A,<br>
 43122 PARMA PR ITALY<br>
 01606950341
            </p>


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

{% endblock contents %}   


