{% extends "../core/base/base.html" %}
{% load static %}
{% load humanize %}
{% block contents %}







<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header"> Terms & Conditions</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="{% url 'home' %} ">Home</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <h3 class="mb-2 mt-2">Sales Terms & Conditions</h3>
                <p>The following terms and conditions (referred to as “the Terms”) apply to all purchases made from this website. By placing an order you are making an offer to Top Classic Hifi (referred to as “us/we/our”) to purchase the items ordered subject to the Terms. The offer is only accepted when we process the order and dispatch the items, and once accepted by us shall constitute a binding agreement between you and us.</p>
                <p>Please therefore read this document carefully before placing your order. These terms do not affect your statutory rights.</p>
             

                <h3 class="mb-2 mt-2">Acknowledgment and Receipt of Orders</h3>
                <p>Orders are acknowledged by email as soon as possible. Any email or other acknowledgment from us does not constitute our legal acceptance of your order. The offer is only accepted when we process the order and dispatch the items.</p>
                <p>We will email you a copy of your receipt, either separately or within the acknowledgment. The receipt is a confirmation that we have received your authorization to take the money shown by the relevant payment partner. The receipt also serves as the required proof of purchase for any returns, so please ensure you retain the email and/or a hard copy in a safe place.</p>
             

                <h3 class="mb-2 mt-2">Availability</h3>
                <p>Your order for items is subject to availability. If we do not supply items to you for any reason, we will inform you of the situation and will not charge you for those items. We will obviously refund any money already paid by you for the items.</p>
                <p>Only one special offer may be redeemed per order, and only one such offer may be redeemed per household.</p>
             

                <h3 class="mb-2 mt-2">14-Day Returns – Your Statutory Rights</h3>
                <p>If you wish to return items, you should notify Top Classic Hifi of your intention to do so within 14 days of the date of receipt by you. You then have an additional 14 days to return the items from this notification date (items should be returned within 28 days). We will in such circumstances refund you the cost of your order, including postage, and also the cost of return postage assessed as the most efficient method of sending. However, if items are not returned “as new” due to excessive handling on your part, or have components missing (including packing materials and manuals), we may make a reasonable deduction for this. Any promotional or free items supplied with the items must also be returned. If these are not returned, the full value of the promotional items will be deducted from any refund or credit that may be issued.</p>
             

                <h3 class="mb-2 mt-2">12-Month Guarantee</h3>
                <p>In addition to your statutory rights, should any item purchased on the website develop a fault within the first 12 months from delivery to you, we shall offer to repair or replace the faulty items without charge to you. The foregoing 12-month guarantee is subject to the following conditions:</p>
                <ul>
                    <li>The fault developed through normal domestic use only;</li>
                    <li>The guarantee does not include normal wear and tear, in particular the erosion of parts which are designed to wear;</li>
                    <li>You have not allowed repairs to be carried out on the items other than by us or our appointed agents (which acts will invalidate this guarantee).</li>
                </ul>
                <p>Please note: If the item purchased is from our clearance section and proves to be uneconomical to repair, we can at our discretion elect to offer a refund (or part thereof) that reflects the value of the item at the point of failure.</p>
             

                <h3 class="mb-2 mt-2">Payment and Prices</h3>
                <p>The price for the items will be as stipulated on the website at the time when you place your order. We are entitled to update the price on the website from time to time to take account of any increase in our suppliers’ prices, or the imposition of any new taxes or duties, or if due to an error or omission on the price published for the items on our website is wrong. However, once you place your order, the price will be locked at that point. We try to ensure that all prices displayed on our website are accurate.</p>
                <p>The price of the items on your order will need to be validated by us prior to processing your order. If there is a problem, we will inform you of the correct price and will give you the opportunity to purchase the items at the correct price.</p>
                <p>We can currently accept payment of your order by Bank Wire/Swift and direct bank transfer (Kindly contact us for more information). Payment by cheque or cash on delivery is not accepted.</p>
                <p>Payment for items must be made in accordance with our purchase procedure. We cannot accept responsibility if any details you provide us with are incorrect or if any order is held up as a result of incorrect details.</p>
                <p>All prices on our website are in euros and inclusive of VAT but exclusive of our very reasonable delivery charges, which will be payable as indicated at the time of placing your order.</p>
             

                <h3 class="mb-2 mt-2">Delivery</h3>
                <p>We accept orders worldwide from all regions and also make deliveries to addresses within all the territories of Britain. We will endeavor to deliver the ordered item within the times stated in our Purchase Procedure, but time shall not be of the essence. If no times are specified, delivery shall be within a reasonable time.</p>
                <p>In addition to all other rights, you reserve the right to cancel the order if processing is delayed by us for more than 7 working days from the stipulated delivery date. You have the right to contact us and cancel the order (a working day is Monday through Friday, excluding bank holidays). In this case, we will happily refund you any money paid for the items.</p>
                <p>The title on the items will pass on delivery. Should you return the items under conditions set out under these terms and conditions, then the title in the items shall revert to us when you return the items to us.</p>
                <p>Please check the condition of all items delivered as soon as they are received. This does not affect your statutory rights, but if there is a problem we want to deal with it as soon as possible as the last thing we want is a disappointed customer.</p>
                <p>As soon as we have delivered the items to you, you will be responsible for them and any damage occasioned while in your possession. When we deliver the items we will require you to sign for them. If you are not able to sign for a delivery, we will do our utmost to let you know when we intend to redeliver the items. Our responsibility for everything other than damage due to our negligence will end at the time the carrier tried to deliver the items to you.</p>
             

                <h3 class="mb-2 mt-2">Liability</h3>
                <p>There may also be differences in the backlight brightness across the screen that could be noticeable on static and predominantly single-colored moving images and letter-boxed images. Please check with the relevant manufacturer as to their tolerance level. Manufacturers reserve the right to alter, add, or withdraw software features on products at any point without notice and Richer Sounds cannot be held liable for these changes. This does not affect your statutory rights.</p>
                <p>Many of the items we sell are technical and unfortunately, it is not practical to publish detailed specifications of all the items and keep specifications 100% up to date. All drawings, descriptive matter, specifications, and advertising on our website are for the sole purpose of giving approximate descriptions of the items.</p>
                <p>However, if your items do not conform to the specifications displayed on the website relating to such items at the date of purchase, we will arrange for the collection of the items from you and you will be entitled to receive a refund on the production of the proof of purchase (sale receipt).</p>
                <p>We shall not be liable for any losses, costs, damages, charges, or expenses caused by any delay in delivery of the items.</p>
                <p>We shall not be liable to you for any failure or delay in performance of our contract, if it is due to an event beyond our reasonable control. This includes, without limitation, acts of God, war, industrial dispute, fire, flood, tempest, and national emergencies, and if so delayed we shall be entitled to a reasonable extension of time for performing such obligations.</p>
             

                <h3 class="mb-2 mt-2">Complaint Procedure</h3>
                <p>We operate a complaints handling procedure which we will use to try to resolve disputes when they first arise. We will however endeavor to acknowledge all complaints within 7 working days. If you have a complaint please contact us at:</p>
                <address>
                    RONDA QUEMALO, 11 - BJ 46512,<br>
                    FAURA, Valencia, Spain<br>
                    VAT No. B97276232<br>
                    Email: <a href="mailto:info@zetasassisrl.com">info@zetasassisrl.com</a><br>
                    Web: <a href="http://zetasassisrl.com">zetasassisrl.com</a>
                </address>
                <p>Write to our Founder & MD’s office by email. Should you have any issues then please contact the store or department you made your purchase from, who will be more than happy to help. Following that, our Customer Service team is available to assist with complaints or repair issues by email at: <a href="mailto:info@zetasassisrl.com">info@zetasassisrl.com</a></p>
                <p>As a final last resort, which hopefully will not be necessary, please contact the office of our Founder and Managing Director, at <a href="mailto:info@zetasassisrl.com">info@zetasassisrl.com</a>. Our Director will oversee your correspondence and arrange for one of our senior team to help.</p>
                <p>If our Customer Service team has been unable to resolve your complaint, you may refer your complaint to Alternative Dispute Resolution For Retail. You can direct your complaint to:</p>
                <address>
                    Mail: <a href="mailto:info@zetasassisrl.com">info@zetasassisrl.com</a><br>
                    Web: <a href="http://zetasassisrl.com">zetasassisrl.com</a>
                </address>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->


