
		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-5 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>"ZETA-SASSI S.R.L., we bring you the best in high-quality audio and visual equipment. From top-tier loudspeakers to premium turntables and digital sound systems, we ensure you get the perfect blend of innovation and performance. </p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>VIA BARSANTI EUGENIO 2/A
                                        43122 PARMA PR ITALY
                                        </a></li>
									<li><a href="#"><i class="fa fa-phone"></i>01606950341</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>info@zetasassisrl.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-4 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categories</h3>
								<ul class="footer-links">
                                    <li><a href="{% url 'Amplifiers' %}">Amplifiers</a></li>
                                    <li><a href="{% url 'Digital' %}">Digital</a></li>
                                    <li><a href="{% url 'Loudspeakers' %}">Loudspeakers</a></li>
                                    <li><a href="{% url 'Mixer_Console' %}">Mixer Console</a></li>
                                    <li><a href="{% url 'Turntables' %}">Turntables</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
                                    <li><a href="{% url 'terms_condition' %}">About</a></li>
                                    <li><a href="{% url 'refund_policy' %}">Refund Policy</a></li>
                                    <li><a href="{% url 'Digital' %}">Electronic Store</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
								
								</ul>
							</div>
						</div>


					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								 <a target="_blank" style="color:white;" href="https://zetasassisrl.com">copyright2025@zetasassisrl.com</a>
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->